@{
    Page.Title = "Forwarding Status";
    
    //Lấy list Forwarding Status
    var db = Database.Open("Checking_Master");

    var qStr = "Select * from Forwarding_Status order by Id_Forwarding_Status desc";
    var data = db.Query(qStr);

    var grid = new WebGrid(source: data,
                            rowsPerPage: 20);

    //Delete record
    var deleteId = Request["fsid"];
    if (!deleteId.IsEmpty())
    {
        var sqlDelete = "delete from Forwarding_Status where Id_Forwarding_Status = @0";
        db.Execute(sqlDelete, deleteId);
        Response.Redirect("Index");
    }

    //Search
    var searchFS = Request["searchForwardingStatus"];
    if (searchFS == "")
    {
        qStr = "Select * from Forwarding_Status order by Id_Forwarding_Status desc";
        data = db.Query(qStr);

        grid = new WebGrid(source: data,
                                rowsPerPage: 20);
    }
    else
    {
        qStr = "Select * from Forwarding_Status where Id_Forwarding_Status like '%" + searchFS + "%' order by Id_Forwarding_Status desc";
        data = db.Query(qStr);

        grid = new WebGrid(source: data,
                                rowsPerPage: 20);
    }
}

@section head {}
@section menu{
    @RenderPage("../_Menu.cshtml")
}

<fieldset>
    <legend>All Forwarding Status | <a href="~/rcAdmin/ForwardingStatus/New.cshtml">Create Forwarding Status</a> </legend>
    <form action="" method="POST">
        <input type="text" id="search" name="searchForwardingStatus" value=""/> <input type="submit" value="Search" title="Search" />
    </form>
    <div id="grid">
        @grid.GetHtml(
                tableStyle: "rcGrid",
                headerStyle: "head",
                alternatingRowStyle: "alt",
                footerStyle: "pgr",
                columns: grid.Columns(
                    grid.Column(format: @<a href="~/rcAdmin/ForwardingStatus/Edit.cshtml?fsid=@item.Id_Forwarding_Status" title="Edit Page">
    <img src="../images/edit_page.gif" alt="Edit" class="rcGC" />
</a>),
                    
                    grid.Column("Forwarding_Status", "Forwarding Status", style: "rcGB"),
                    grid.Column("Forwarding_Status_Desc", "Forwarding Status Desc", style: "rcGB"),
                    grid.Column("Comments", "Comments", style: "rcGB"),
                    grid.Column("Key_Words", "Keywords", style: "rcGB"),
                    grid.Column(format: @<a href="~/rcAdmin/ForwardingStatus/Index.cshtml?fsid=@item.Id_Forwarding_Status" title="Delete" onclick="return confirm('Are you sure you want to delete ?')">
    <img src="../images/delete.gif" alt="Delete" class="rcGC" />
</a>)
                  )
              )
    </div>
</fieldset>