.rcGrid {font: 14px Tahoma; width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
    .rcGrid td { padding: 2px; padding:5px; border: solid 1px #c1c1c1; color: #717171; }
    .rcGrid th { padding: 4px 2px; color: #fff; background: #424242 url(grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 0.9em; }
        .rcGrid th a{color:#ffffff; text-decoration:none;}
.rcGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.rcGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .rcGrid .pgr table { margin: 5px 0; }
    .rcGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 25px; }   
    .rcGrid .pgr a { color: #666; text-decoration: none; }
    .rcGrid .pgr a:hover { color: #000; text-decoration: none; }
    
.rcGB { width: 200px; font-weight:bold;} 
.rcGC{ border:none;}