@{
    Page.Title = "Forwarding Country";
    var db = Database.Open("Checking_Master");
    //Database.OpenConnectionString("Checking_Master")

    //delete record 
    var deleteID = Request["id"];
    if (!deleteID.IsEmpty())
    {
        var sqlDelete = "delete Forwarding_Countries where Id_Forwarding_Country=@0";
        db.Execute(sqlDelete, deleteID);
        Response.Redirect("Index");
    }


    var qStr = "Select * from Forwarding_Countries t1 "+
    "inner join Forwarding_Service t2 on t1.Id_Forwarding_Service = t2.Id_Forwarding_Service inner join Forwarding_Zone t3 on t1.Id_Forwarding_Zone = t3.Id_Forwarding_Zone inner join Countries t4 on t1.Id_Country = t4.Id_Country "+
    "order by Id_Forwarding_Country desc";
    var data = db.Query(qStr);    
    
    var grid = new WebGrid(source: data,
                            rowsPerPage: 20);

    Commons.releaseDBConnecttion(db);
    
}
@section head {}
@section menu{
    @RenderPage("../_Menu.cshtml")
}
<div class="fluid">
    <fieldset>
        <div class="widget">
            <div class="whead">
                <h6>All Forwarding Countries | <a href="~/rcAdmin/ForwardingCountries/New">Create Forwarding Country</a> </h6>
                <div class="clear"></div>
            </div>
            <div class="searchLine">
                <form action="" method="POST">
                    <input type="text" id="search" name="searchAcc" value="" placeholder="Enter Account Name ..." class="ac ui-autocomplete-input" />
                    <button type="submit" value="Search" title="Search"><span class="icos-search"></span></button>
                </form>
            </div>
        <div id="grid" class="widget">
            @grid.GetHtml(
                    tableStyle: "tDark",
                    headerStyle: "",
                    alternatingRowStyle: "alt",
                    footerStyle: "pgr",
                    columns: grid.Columns(                    
                            grid.Column("Country_name", "Country", style: "rcGB"),
                            grid.Column("Forwarding_service_name", "Service name", style: "rcGB"),
                            grid.Column("Forwarding_zone", "Forwarding zone", style: "rcGB"),   
                            grid.Column("Comment", "Comment", style: "rcGB"),                     
                                             @*grid.Column("Created_Date", format: @<i>@item.Created_Date</i>),*@
                        grid.Column(format: @<a href="~/rcAdmin/ForwardingCountries/Edit?id=@item.Id_Forwarding_Country" title="Edit Page">
        <img src="images/edit_page.gif" alt="Edit" class="rcGC" />
    </a>),
                        grid.Column(format: @<a href="Index?id=@item.Id_Forwarding_Country" title="Delete" onclick="return confirm('Are you sure you want to delete ?')">
        <img src="images/delete.gif" alt="Delete" class="rcGC" />
    </a>)
                      )
                  )
        </div>
        </div>
    </fieldset>
</div>