@{}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>@PageData[0].wTitle</h1>
        @Html.Raw(PageData[0].wText)
      </div>
    </div>